# pelican
# output/ # disabled due to using github with submodules for output

# use simlink to global folder ~/.pelican-plugins
plugins

# use simlink to global folder ~/.pelican-themes
theme/

# Python
*.pid
*.pyc
*.swp
npm-debug.log

