# pelican
# output/ # disabled due to using github with submodules for output


# Editor
.idea/
*.iml

# use simlink to global folder ~/.pelican-plugins
pelican-plugins

# use simlink to global folder ~/.pelican-themes
pelican-themes

# local additional themes
themes/

# Python
*.pid
*.pyc
*.swp
npm-debug.log

